@media screen and (min-width: 990px) {
    .reason-text {
        width: 80%;
    }
}

@media screen and (max-width: 670px) {
    .hero img {
        width: 300px;
        padding-bottom: 1rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .tentang-kami h2 {
        font-size: 2rem;
    }
    
    .tentang-kami img {
        width: 300px;
    }

    .reason h2 {
        font-size: 2rem;
    }

    .tim-kami h2 {
        font-size: 2rem;
    }

    .card {
        margin-bottom: .8rem;
    }
}